---
import { getS3 } from "../../utils";
import New from "../../components/edit.svelte";

const name = Astro.params.name;
let profile: ProfileType;
try {
  const respText = await getS3(`${name}.json`);
  profile = JSON.parse(respText);
} catch {
  profile = {
    name: "John Doe",
    img: "",
    description: "This is a description",
    content: [
      {
        type: "link",
        data: {
          label: "Example link",
          url: "https://example.com",
        },
      },
    ],
  };
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
  </head>
  <body>
    <div class="absolute top-0 left-0 h-full w-full">
      <div class="max-w-md mx-auto my-14 px-2">
        <New {name} {profile} client:load />
      </div>
    </div>
  </body>
</html>
