---
import { hslToHex } from "../components/color";
const color = Math.floor(Math.random() * 360);

return new Response("", {
  status: 302,
  headers: {
    location: "/team",
  },
});
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Astro</title>
  </head>
  <body
    style={`background: ${hslToHex(color, 100, 95)}; color: ${hslToHex(
      color,
      80,
      65
    )};`}
    class="mx-3 my-24 text-center"
  >
    <div class="max-w-lg mx-auto">
      <div class="text-7xl font-bold font-serif">The link for everything.</div>
      <a
        href="/team"
        style={`box-shadow: 6px 6px 0px ${hslToHex(color, 80, 65)};`}
        class="my-16 block px-5 py-5 border-2 bg-white border-black rounded-lg text-xl text-black"
        >Create yours
      </a>
    </div>
    <div
      class="absolute w-full h-full top-0 left-0 overflow-hidden pointer-events-none"
    >
      <div class="absolute bottom-0 translate-y-2/3 w-full">
        <img class="w-1/3 rounded-3xl mx-auto" src="/preview.png" alt="preview"
        />
      </div>
    </div>
  </body>
</html>
